language: python
dist: xenial

addons:
  apt:
    packages:
    - git

python:
  - "3.6"
  - "3.7"
  - "3.8"

# command to install dependencies
install:
  - git clone https://github.com/stlehmann/ADS.git
  - cd ADS
  - sudo make install
  - cd ..
  - pip install .
  - pip install coverage
  - pip install coveralls
  - pip install pytest-cov
script:
  py.test -v --cov pyads
after_success:
  coveralls
