#
# Recipe for extra files to pack for setuptools.
# MANIFEST.in is a little outdated but the best solution to differentiate files between sdist and wheel builds.
#

graft adslib
global-exclude *.a *.o *.obj *.bin *.so
prune obj
prune tests
